apiVersion: v1
kind: Service
metadata:
  name: db
  namespace: unidocs
  labels:
    app: postgres
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
  type: ClusterIP